select.form-control {
    -webkit-transition: none;
    transition: none;
}
.my-form-group {
    margin: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.my-read-only-form-group {
    margin: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    padding: 3%;
    border-radius: 10px;  
    background-color: antiquewhite; 
}
#my-form {
    width: 50%;
    margin: 20px;
    border: 2px solid blue;
    border-radius: 20px;
    background-color: lightblue;
}
#add-review-button {
    display: block;
    margin: 20px auto;
}
#get-reviews-button {
    display: block;
    margin: 20px auto;
}
#reviews {
    overflow-y: scroll;
    border: 1 solid black;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 300px;
}
#review-details {
    border: 1px solid gray;
    margin: 10px;
    padding: 5px;
}
#avg-ratings {
    border: 1px solid gray;
    margin: 10px;
    padding: 5px;
}
